
.DS_Store
.idea/
build/*
pubspec.lock
.flutter-plugins-dependencies
.flutter-plugins/*
packages
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/**
.packages
.idea/vcs.xml
.flutter-plugins
.flutter-plugins-dependencies
.packages
.metadata
